.result-item {
  border: 1px solid #5c5c5c;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  .mobile-only {
    padding-top: 12px;
    padding-left: 0;
  }

  &.item-clickable {
    cursor: pointer;
    .mobile-only {
      padding-left: 12px;
    }
  }

  .driver-image {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
  }

  .driver-name-avatar {
    width: 17px;
    margin-top: -5px;
    margin-right: 3px;
  }

  .v-main-img {
    padding-right: 0;
    img {
      width: 100%;
    }
  }

  .driver-info {
    text-align: left;
    margin-top: 15px;
    @media (min-width: 576px) {
      margin-top: 0;
      text-align: center;
    }
  }

  .v-info {
    padding-right: 0;
  }

  .rating {
    display: inline-block;
  }

  .desktop-only {
    display: none;
    @media (min-width: 576px) {
      display: block;
    }
  }

  .mobile-only {
    @media (min-width: 576px) {
      display: none;
    }
  }
}
