.result-item {
  border: 3px solid #5c5c5c;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  &.item-clickable {
    cursor: pointer;
  }

  .driver-image {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
  }

  .driver-name-avatar {
    width: 17px;
    margin-top: -5px;
    margin-right: 3px;
  }

  .v-main-img {
    padding-right: 0;
    img {
      width: 100%;
    }
  }

  .driver-info {
    text-align: left;
    margin-top: 15px;
    @media (min-width: 576px) {
      margin-top: 0;
      text-align: center;
    }
  }

  .rating {
    top: -20px;
    position: relative;
    left: 10px;
    @media (min-width: 576px) {
      top: 0;
      left: 0;
    }
  }

  .spacer {
    @media (min-width: 576px) {
      display: none;
    }
  }
}
